.font {
    font-family: 'Recursive', sans-serif;
    font-size: 40px;
    color: #cfb92b;
    text-decoration-color: white;
      text-shadow: 2px 2px #FF0000;

}

.fontsm{
    font-family: 'Recursive', sans-serif;
    font-size: 15px;
}