.font {
    font-family: 'Recursive', sans-serif;
    font-size: 40px;
    color: rgb(163, 6, 6)(165, 56, 56);
    text-decoration-color: white;
      text-shadow: 1px 1px #aafffb;

}

.fontsm{
    font-family: 'Recursive', sans-serif;
    font-size: 15px;
}