.font {
    font-family: 'Recursive', sans-serif;
    font-size: 40px;
    color: #cfb92b;
    text-decoration-color: white;
}

.fontsm{
    font-family: 'Recursive', sans-serif;
    font-size: 15px;
}