body{
    height: 100%;

  background-position: center;
  background-size: cover;
    background-image: url("http://getwallpapers.com/wallpaper/full/e/e/b/527825.jpg");
}
.fontsm-btn{
    font-family: 'Recursive', sans-serif;
    font-size: 8px;
}
i {
display: none;
width: 10px;
margin-right: 10px;
float: right;
}

.hide{
display: none;
}
